#header {
  display: flex;
  flex-direction: column;
  margin: 25px;
  h1, p{
    margin:0;
    padding: 0;
  }
}

@media(max-width: 414px){
  #header{
    h1{
      font-size: 2em;
      }
    p{
      font-size: .6em;
    }
  }
}
