/* Position and sizing of burger button */
.bm-burger-button {
  right: 36px;
  position: absolute;
  width: 36px;
  height: 30px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  a{
    text-decoration: none;
    margin:.5em;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0) !important;
}

.menu-item{
  transition: all .2s;
  font-family: 'Lato', sans-serif;
  color:white;
}

.menu-item:hover{
  color: #e9e9e9;
}
